.DS_Store
incident_webscraper/__pycache__
scraper/__pycache__
scraper/management/commands/__pycache__
incident_webscraper/secrets.py
scraper/migrations/__pycache__
.env
vb.xml
cd
.venv/ 
.vscode/
activate
exit
quit
Dockerfile
frontend/static
frontend/node_modules
node_modules
frontend/__pycache__
staticfiles