asgiref==3.3.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
DateTime==4.3
dj-database-url==0.5.0
Django==3.1.4
django-filter==2.4.0
django-heroku==0.3.1
django-webpack-loader==0.7.0
djangorestframework==3.12.2
et-xmlfile==1.0.1
GDAL==3.2.1
gunicorn==20.0.4
idna==2.10
jdcal==1.4.1
numpy==1.19.4
openpyxl==3.0.5
pandas==1.1.5
psycopg2==2.8.6
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.5
regex==2020.11.13
requests==2.25.1
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
urllib3==1.26.2
whitenoise==5.2.0
zope.interface==5.2.0
