
.dataHolder{
    position: fixed;
    top: 10px;
    bottom: 10px;
    left: 10px;
    display: inline-block;
    width: 320px;
    background: #2A3C47;
    z-index: 5 !important;
    padding: 6px;
}

.loginExplainer{
    position: fixed;
    top: 200px;
    
    left: 200px;
    display: inline-block;
    width: 550px;
    height: 600px;
    background: #2A3C47;
    z-index: 5 !important;
    padding: 6px;
}
.loginHolder{
    position: fixed;
    top: 450px;
    left: 950px;
    display: inline-block;
    width: 360px;
    height: 300px;    
    background: #2A3C47;
    color: #ffffff;
    z-index: 5 !important;
    padding: 6px;
}

.backgroundImage{
    background-repeat: no-repeat;
    background-size: auto;
    
}

.navbarStyle{
    position: absolute;
    display: inline-block;
    z-index: 1 !important;
    top: 20px;
    right: 20px;
}

.headerStyle{
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0px;
    margin: 12px;
    background-color: #2A3C47;
    color: #ffffff;
    z-index: 1 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 42px;
}

.introbarStyle{
    display: inline-block;
    position: absolute;
    top: 74px;
    left: 0px;
    margin: 12px;
    background-color: #2A3C47;
    color: #ffffff;
    z-index: 1 !important;
    /* padding: 6px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: medium;
    font-size: medium;
}

.hline { 
    position: sticky;
    width:95%;
    /* left: 5%;
    right: 5%; */
    top: 230px; 
    height:1px; 
    background:  #fff;
    align-items: center;
}

.filterStyle {
    display: inline-block;
    padding: 6px;
    position: absolute;
    width: 95%;
    top: 260px;
    z-index: 1 !important;
    color: #ffffff;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: medium;
    font-size: medium;
}

.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 125px;
    left: 0;
    margin: 12px;
    background-color: #2A3C47;
    color: #ffffff;
    /* z-index: 1 !important; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: medium;
    font-size: medium;
}

.locationStyle {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 0px;
    margin: 12px;
    background-color: #2A3C47;
    color: #ffffff;
    /* z-index: 1 !important; */
    padding: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.carthaBar {  
    position: absolute;
    bottom: 15px;
    
    /* left: 35%;
    right: 35%; */
    align-items: center;
    margin: 12px;
    padding: 6px;
    z-index: 1 !important;
    /* background-color: #2A3C47; */
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: small;
}

.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


.mapboxgl-popup-content {
    background-color: #2A3C47;
    color: #ffffff;
  }

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #2A3C47;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #2A3C47;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #2A3C47;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #2A3C47;
    }

.mapboxgl-popup-close-button {
    color: #ffffff;
}



/* components for layout.js */
.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
.site-layout .site-layout-background {
    background: #fff;
  }



